body {
  font-family: 'Arial', sans-serif;
  margin: 0;
  padding: 0;
  background-color: #f7f7f7;
  color: #333;
}

.container {
  display: flex;
  justify-content: center;
  align-items: flex-start;
  padding: 20px;
}


.sidebar {
  width: 250px;
  background-color: #fff;
  padding: 20px;
  margin-right: 20px;
  box-shadow: 0 0 10px rgba(0,0,0,0.1);
  border-radius: 5px;
}

.category-button {
  display: block;
  width: 100%; 
  box-sizing: border-box;
  padding: 10px 15px;
  margin-bottom: 10px;
  background-color: #008cba;
  color: #fff;
  text-align: center;
  border: none;
  border-radius: 5px;
  text-decoration: none;
  transition: background-color 0.3s ease;
  cursor: pointer;
}

.sidebar ul {
  list-style: none;
  padding: 0;
  margin: 0;
}

.sidebar li {
  margin-bottom: 5px; 
}


.sidebar ul {
  list-style-type: none;
  padding-left: 0;
}


.category-button {
  display: block;
  padding: 10px 15px;
  margin-bottom: 10px;
  background-color: #008cba;
  color: #fff;
  text-align: center;
  border: none;
  border-radius: 5px;
  text-decoration: none;
  transition: background-color 0.3s ease;
}

.category-button:hover {
  background-color: #005f73;
  cursor: pointer;
}

.category-button.active {
  background-color: #005f73; 
  color: #ffffff;
}


.content {
  background-color: #fff;
  padding: 20px;
  border-radius: 5px;
  box-shadow: 0 0 10px rgba(0,0,0,0.1);
  flex-grow: 1;
}

.table {
  width: 100%;
  border-collapse: collapse;
  margin-top: 20px;
}

.table th,
.table td {
  border: 1px solid #ddd;
  padding: 8px;
  text-align: left;
}

.table th {
  background-color: #004d40;
  color: #fff;
}

.table tr:nth-child(even) {
  background-color: #f2f2f2;
}

.table tr:hover {
  background-color: #ddd;
}
